<div class="move_info_master">
  <!--Message displayed during setup-->
  <div *ngIf="showLoading() && !isGameEnd" class="player_info player_parent">
    <div style="display: inline-block; width: 2.5%;"></div>
    Loading first moves
  </div>

  <!--Message displayed afterwards.-->
  <!--Player color and move number.-->
  <div *ngIf="showMove()" class="player_info player_parent">
    <div [ngClass]="getStoneToPlayClass()"></div>
    {{getPlayerColor()}} to play
    <div class="vertical_bar"></div>
    <span class="number_of_moves">
      MOVE <span>{{moveNumber}}<span class="show_on_wide_screen"> / {{lastMove}}</span></span>
    </span>
  </div>
  <div *ngIf="isGameEnd" class="player_info player_parent">
    Game ends
    <div class="vertical_bar"></div>
    <span class="number_of_moves">{{gameResult}}</span>
  </div>

  <!--Current score.-->
  <div class="player_info score_parent">
    <span *ngIf="streak > 1">
      <span class="show_on_wide_screen">STREAK</span>
      <span [ngClass]="getStreakClass()">{{streak}}</span>
    <div class="vertical_bar"></div>
    </span>
    <span *ngIf="showTotalScore">
      SCORE
      <div class="total_score" (click)="showScore.emit()">{{score}}</div>
    </span>
  </div>
</div>
