<div class="popup">
  <div style="height: 20px;"></div>
  <h2>ATTEMPT #{{attempt}}</h2>
  <h2 class="meta_container">
    <span>HINTS: {{totalHintsRequested}}</span>
    <span>STREAK: {{longestStreak}}</span>
  </h2>
  <div style="height: 20px;"></div>
  <table *ngIf="scoreHistory.length > 0" class="score_container">
    <thead>
    <tr>
      <th style="text-align: left">MOVE</th>
      <th style="text-align: center">SCORE</th>
      <th style="text-align: right">CORRECT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of getShowData();">
      <th style="text-align: left">
        {{data['move']}}
      </th>
      <th  style="text-align: center">
        {{data['score']}}
      </th>
      <th  style="text-align: right">
        {{data['guesses']}}
      </th>
    </tr>
    </tbody>
  </table>
  <div *ngIf="scoreHistory.length > 0">
    <div style="height: 20px;"></div>
    <h2>{{getAverageScoreText()}}</h2>
    <h2>{{getCorrectPercentageText()}}</h2>
  </div>
  <div style="height: 20px;"></div>
  <div class="buttons_container">
    <button *ngIf="!isCopied"
            class="nice_button white_button"
            [cdkCopyToClipboard]="getCompleteScoreText()"
            (click)="onCopy()">
      COPY <fa-icon [icon]="faCopy"></fa-icon>
    </button>
    <button *ngIf="isCopied" class="nice_button gray_button">
      COPIED
    </button>
    <button class="nice_button blue_button" (click)="closeTab.emit()">{{getCloseText()}}</button>
  </div>
  <div style="height: 20px;"></div>
  <div *ngIf="hasGameEnded()" class="buttons_container">
    <button class="nice_button blue_button" (click)="restartGame.emit()">RESTART</button>
    <button class="nice_button blue_button">
      <a [href]="sgfFileUrl" class="normal_text" download="dailyBadukGuessr.sgf">GET SGF</a>
    </button>
  </div>
  <div *ngIf="hasGameEnded()" style="height: 20px;"></div>
</div>
