<div class="popup score_summary">
  <div class="score_total_score"></div>
  <div style="height: 20px;"></div>
  <div *ngFor="let score of scoreHistory; let i = index;">
    <h2>{{getScoreText(score, i)}}</h2>
    <div style="height: 20px;"></div>
  </div>
  <div *ngIf="scoreHistory.length > 0">
    <h2>{{getAverageScoreText()}}</h2>
    <div style="height: 20px;"></div>
  </div>
  <div style="height: 20px;"></div>
  <div class="buttons_container">
    <button *ngIf="!isCopied" class="button_white"  [cdkCopyToClipboard]="getCompleteScoreText()" (click)="onCopy()">
      COPY <fa-icon [icon]="faCopy"></fa-icon>
    </button>
    <button *ngIf="isCopied" class="button_gray">
      COPIED
    </button>
    <button class="button_blue" (click)="closeTab.emit()">{{getCloseText()}}</button>
  </div>
  <div style="height: 20px;"></div>
  <div *ngIf="hasGameEnded()" class="buttons_container">
    <button class="button_blue" (click)="restartGame.emit()">RESTART</button>
    <button class="button_blue">
      <a [href]="sgfFileUrl" class="normal_text" download="dailyBadukGuessr.sgf">GET SGF</a>
    </button>
  </div>
  <div *ngIf="hasGameEnded()" style="height: 20px;"></div>
</div>
