<div id="flex_master">
  <div class="separator_flex"></div>

  <div class="screen_master">
    <app-move-info (showScore)="showScore.emit(scoreHistory)"
                   [moveNumber]="moveNumber"
                   [score]="score"
                   [isGameEnd]="moveNumber >= (game.lastMove + 1)"
                   [gameResult]="game.result"
                   [isReviewing]="isReviewing()"
                   [gameStarted]="gameRun>0">
    </app-move-info>

    <app-board (addGuess)="addGuess($event)"
               (removeGuess)="removeGuess($event)"
               [moveNumber]="moveNumber"
               [correctGuessRow]="correctGuessRow"
               [correctGuessCol]="correctGuessCol"
               [stonesInBoard]="getCurrentMoves()"
               [isReviewing]="isReviewing()"
               [guesses]="guesses"
               [guessSquareSize]="guessSquareSize">
    </app-board>

    <app-guess-bar (resolveGuess)="processGuesses()"
                   (navigateGame)="changeGameMove($event)"
                   [guesses]="guesses"
                   [guessSquareArea]="guessSquareSize*guessSquareSize"
                   [correctGuess]="getCorrectGuessIndex()"
                   [isReviewing]="isReviewing()">
    </app-guess-bar>
  </div>

  <div class="separator_flex"></div>
</div>
