<div class="popup padded-container">
  <h2>HOW TO PLAY</h2>
  <div style="height: 20px;"></div>
  <p>
    <strong>Baduk Guessr</strong> allows you to study professional
    <a href="https://en.wikipedia.org/wiki/Go_(game)" target="_blank">games of Go</a> in a fun way,
    trying to get the highest score possible. In every move, pick one (<strong>A</strong>) or more moves
    (up to <strong>D</strong>) as possible next moves. Then, press "guess". If one of your guesses is correct,
    you earn points. The less options you pick, the most points you get if you are correct.
  </p>
  <div style="height: 8px;"></div>
  <p>
    You can <strong>share</strong> your total score with your friends every
    <strong>{{showScoreFrequency}} moves</strong> or at the end of the game.
  </p>
  <div style="height: 8px;"></div>
  <p>
    <strong>Have fun!</strong>
  </p>
  <div style="height: 20px;"></div>
  <button class="nice_button blue_button" (click)="startGame.emit()">START</button>
</div>
