<!--Logo-->
<div id="logo_bar">
  <div id="logo">
    Baduk<br>guessr
  </div>
</div>

<!--info button-->
<button id="info_button" (click)="showInfoView();">i</button>

<!--Main screen-->
<app-central-section (showScore)="updateAndShowScore($event)"
                     [gameRun]="gameRun"
                     [gamePaused]="isGamePaused()"
                     [game]="game">

</app-central-section>

<!--Welcome popup-->
<app-welcome *ngIf="welcomeVisible"
             (startGame)="closeWelcomeAndStartGame()"
             (showIntroduction)="closeWelcomeAndShowIntroduction()"
             [blackPlayerName]="game.blackPlayerName"
             [whitePlayerName]="game.whitePlayerName"
             [blackPlayerRank]="game.blackPlayerRank"
             [whitePlayerRank]="game.whitePlayerRank"
             [gameDate]="game.date.toDateString()">
</app-welcome>

<!--Introduction popup-->
<app-introduction *ngIf="introductionVisible"
                  (startGame)="closeIntroductionAndStartGame()">
</app-introduction>

<!--Score popup-->
<div *ngIf="scoreVisible" id="score_background"></div>
<app-score *ngIf="scoreVisible"
           [lastMove]="game.lastMove"
           [scoreHistory]="scoreHistory"
           (closeTab)="hideScoreView()"
           (restartGame)="closeScoreTabAndRestart()"></app-score>

<!--Info popup-->
<div *ngIf="infoVisible" id="info_background" (click)="hideInfoView();"></div>
<app-info *ngIf="infoVisible"
          (closeInfo)="hideInfoView()"
          [blackPlayerName]="game.blackPlayerName"
          [whitePlayerName]="game.whitePlayerName"
          [blackPlayerRank]="game.blackPlayerRank"
          [whitePlayerRank]="game.whitePlayerRank"
          [gameDate]="game.date.toDateString()">
</app-info>
