<!--Logo-->
<div class="logo_bar">
  <div class="logo">
    Baduk<br>guessr
  </div>
</div>

<!--info button-->
<button class="header_button" style="right: 34px" (click)="showInfoView();">i</button>

<!--&lt;!&ndash;more button&ndash;&gt;-->
<!--<button class="header_button" style="right: 68px" (click)="showMoreView();">+</button>-->

<!--Main screen-->
<app-central-section (showScore)="updateAndShowScore($event)"
                     (closePopups)="processPopupClosing()"
                     (reviewConcluded)="showReviewConcludedView()"
                     (autoPlayedMove)="updateMoveLoading($event)"
                     [gameRun]="gameRun"
                     [autoPlay]="loadMoves"
                     [gamePaused]="isGamePaused()"
                     [game]="game">

</app-central-section>

<div *ngIf="reviewConcludedVisible" class="popup_background" (click)="hideReviewConcludedView();"></div>
<app-review-concluded *ngIf="reviewConcludedVisible"
                      (closeTab)="hideReviewConcludedView()"></app-review-concluded>

<!--Welcome popup-->
<app-welcome *ngIf="welcomeVisible"
             (startGame)="closeWelcomeAndStartGame()"
             (showIntroduction)="closeWelcomeAndShowIntroduction()"
             [blackPlayerName]="game.blackPlayerName"
             [whitePlayerName]="game.whitePlayerName"
             [blackPlayerRank]="game.blackPlayerRank"
             [whitePlayerRank]="game.whitePlayerRank"
             [gameDate]="game.date.toDateString()">
</app-welcome>

<!--Introduction popup-->
<app-introduction *ngIf="introductionVisible"
                  (startGame)="closeIntroductionAndStartGame()">
</app-introduction>

<!--Score popup-->
<!--<div *ngIf="scoreVisible" class="popup_background" (click)="hideScoreView();"></div>-->
<app-score *ngIf="scoreVisible"
           [lastMove]="game.lastMove"
           [scoreHistory]="scoreHistory"
           [attempt]="gameRun"
           [game]="game"
           [gameIndex]="gameIndex"
           (closeTab)="hideScoreView()"
           (restartGame)="showConfirmationView()"></app-score>

<!--Restart confirmation popup-->
<app-confirmation *ngIf="confirmationVisible && scoreVisible"
                  (cancel)="hideConfirmationView()"
                  (confirm)="closeScoreTabAndRestart()">
</app-confirmation>

<!--Info popup-->
<div *ngIf="infoVisible" class="popup_background" (click)="hideInfoView();"></div>
<app-info *ngIf="infoVisible"
          (closeInfo)="hideInfoView()"
          [blackPlayerName]="game.blackPlayerName"
          [whitePlayerName]="game.whitePlayerName"
          [blackPlayerRank]="game.blackPlayerRank"
          [whitePlayerRank]="game.whitePlayerRank"
          [gameDate]="game.date.toDateString()">
</app-info>
