<!--Logo-->
<div class="logo_bar">
  <div class="logo">
    Baduk<br>guessr
  </div>
</div>

<!--info button-->
<button class="header_button" style="right: 34px" (click)="showInfoView();">i</button>

<!--more button-->
<div ngbDropdown>
  <button ngbDropdownToggle class="header_button" style="right: 85px; font-weight: bold" >+</button>
  <div ngbDropdownMenu class="dropdown_menu">
    <!-- Show The amount of captures of each player. -->
    <span class="dropdown_menu_item" style="text-align: center">
      CAPTURES
    </span>
    <span class="dropdown_menu_item buttons_container" >
      <span style="text-align: left">B: {{game.getCaptures('B', moveNumber)}}</span>
      <span style="text-align: right">W: {{game.getCaptures('W', moveNumber)}}</span>
    </span>

    <hr>
    <!-- Change difficulty. -->
    <span class="dropdown_menu_item" style="text-align: center">
      GUESS SQUARE SIZE
    </span>
    <span class="dropdown_menu_item buttons_container">
      <div [ngClass]="getReduceButtonClass(guessSquareSize, 1)" (click)="changeGuessSquareSize(-1)">-</div>
      {{guessSquareSize}}
      <div [ngClass]="getIncreaseButtonClass(guessSquareSize, maxGuessSquareSize)"
           (click)="changeGuessSquareSize(1)">+</div>
    </span>

    <hr>
    <!-- Give hint. -->
    <span class="dropdown_menu_item" style="text-align: center">
      HINT SIZE
    </span>
    <span class="dropdown_menu_item buttons_container">
      <div [ngClass]="getReduceButtonClass(hintSquareSize, 2)"
           (click)="changeHintSquareSize(-1)">-</div>
      {{hintSquareSize}}
      <div [ngClass]="getIncreaseButtonClass(hintSquareSize, maxHintSquareSize)"
           (click)="changeHintSquareSize(1)">+</div>
    </span>
    <button *ngIf="!hintGiven()" class="dropdown_menu_item" style="text-align: center" (click)="giveHint()">
      PAY {{getHintCost()}} FOR A HINT
    </button>


    <hr>
    <!-- Change score frequency showing. -->
    <span class="dropdown_menu_item" style="text-align: center">
      SHOW SCORE EVERY
    </span>
    <span class="dropdown_menu_item buttons_container">
      <div [ngClass]="getReduceButtonClass(showScoreFrequency, minShowScoreFrequency)"
           (click)="changeShowScoreFrequency(-1)">-</div>
      {{showScoreFrequency}} MOVES
      <div [ngClass]="getIncreaseButtonClass(showScoreFrequency, maxShowScoreFrequency)"
           (click)="changeShowScoreFrequency(1)">+</div>
    </span>

  </div>
</div>
<!--</div>-->

<!--Main screen-->
<app-central-section (closePopups)="processPopupClosing()"
                     (showScore)="showScoreView()"
                     (autoPlayedMove)="updateMoveLoading($event)"
                     (updateScore)="updateScore($event)"
                     (updateGuessHistory)="addGuess($event)"
                     (changeMove)="updateMoveNumber($event)"
                     [streak]="getGuessStreak(guessHistory.length-1)"
                     [gameRun]="gameRun"
                     [autoPlay]="loadMoves"
                     [guessSquareSize]="guessSquareSize"
                     [hintStart]="hintStart"
                     [hintSize]="hintSquareSize"
                     [moveNumber]="moveNumber"
                     [maxMoveNumber]="getMaxMoveNumber()"
                     [score]="currentScore"
                     [gamePaused]="isGamePaused()"
                     [game]="game">

</app-central-section>

<div *ngIf="reviewConcludedVisible" class="popup_background" (click)="hideReviewConcludedView();"></div>
<app-review-concluded *ngIf="reviewConcludedVisible"
                      (closeTab)="hideReviewConcludedView()"></app-review-concluded>

<!--Welcome popup-->
<app-welcome *ngIf="welcomeVisible"
             (startGame)="closeWelcomeAndStartGame()"
             (showIntroduction)="closeWelcomeAndShowIntroduction()"
             [blackPlayerName]="game.blackPlayerName"
             [whitePlayerName]="game.whitePlayerName"
             [blackPlayerRank]="game.blackPlayerRank"
             [whitePlayerRank]="game.whitePlayerRank"
             [gameDate]="game.date.toDateString()">
</app-welcome>

<!--Introduction popup-->
<app-introduction *ngIf="introductionVisible"
                  (startGame)="closeIntroductionAndStartGame()">
</app-introduction>

<!--Score popup-->
<!--<div *ngIf="scoreVisible" class="popup_background" (click)="hideScoreView();"></div>-->
<app-score *ngIf="scoreVisible"
           [lastMove]="game.lastMove"
           [scoreHistory]="scoreHistory"
           [guessHistory]="getCumulativeCorrectGuesses()"
           [madeGuesses]="getMadeGuesses()"
           [currentScore]="currentScore"
           [attempt]="gameRun"
           [game]="game"
           [longestStreak]="getLongestStreak()"
           [gameIndex]="gameIndex"
           [totalHintsRequested]="totalHintsRequested"
           [showScoreFrequency]="showScoreFrequency"
           (closeTab)="hideScoreView()"
           (restartGame)="showConfirmationView()"></app-score>

<!--Restart confirmation popup-->
<app-confirmation *ngIf="confirmationVisible && scoreVisible"
                  (cancel)="hideConfirmationView()"
                  (confirm)="closeScoreTabAndRestart()">
</app-confirmation>

<!--Info popup-->
<div *ngIf="infoVisible" class="popup_background" (click)="hideInfoView();"></div>
<app-info *ngIf="infoVisible"
          (closeInfo)="hideInfoView()"
          [blackPlayerName]="game.blackPlayerName"
          [whitePlayerName]="game.whitePlayerName"
          [blackPlayerRank]="game.blackPlayerRank"
          [whitePlayerRank]="game.whitePlayerRank"
          [gameDate]="game.date.toDateString()">
</app-info>
