.popup_background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.dropdown_menu {
  transition: .3s ease;
  background-color: #F0F0F0;
  max-height: 200px;

  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.clickable_text {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.phantom_text {
   background-color: transparent;
   color: transparent;
 }

.dropdown_menu_item {
  display: block;
  border: none;
  background-color: transparent;
  color: inherit;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.buttons_container {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: 55%;
}

.logo_bar {
  display: block;
  position: absolute;
  left: 37px;
  top: 35px;
  width: 112px;
  height: 82px;
  background-color: #1A1A1A;
  transition: .3s ease;
  vertical-align: middle;
}

.logo {
  display: block;
  position: absolute;
  left: 17px;
  top: 20px;
  pointer-events: none;

  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 26px;
  color: white;
  line-height:  0.8em;
  transition: .3s ease;
}

.header_button {
  display: block;
  position: absolute;
  top: 30px;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: .3s ease;
  background-color: #F0F0F0;

  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: black;
}

.header_button:hover {
  box-shadow: 0 0 6px rgb(0,0,0,.5);
}

.dropdown-toggle::after {
  display:none;
}

@media screen and (max-width: 970px) {
  .logo_bar {left: 0; top: 0; width: 100vw; height: 65px;}
  .logo {left: 20px; top: 15px;}

  .header_button {
    top: 14px;
    border: 1px solid white;
    background-color: black;
    color: white;
  }
  .header_button:hover {box-shadow: rgb(255,255,255,.5);}
  .dropdown_menu {
    background-color: black;
    color: white;
  }
}
