.popup_background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.buttons_container {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: 55%;
}

.logo_bar {
  display: block;
  position: absolute;
  left: 37px;
  top: 35px;
  width: 112px;
  height: 82px;
  background-color: #1A1A1A;
  transition: .3s ease;
}

.logo {
  display: block;
  position: absolute;
  left: 17px;
  top: 20px;
  pointer-events: none;

  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 26px;
  color: white;
  line-height:  0.8em;
  transition: .3s ease;
}

button.header_button {
  display: block;
  position: absolute;
  top: 30px;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: .3s ease;
  background-color: #F0F0F0;

  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 39px;
  color: black;
}

button.header_button:hover {
  box-shadow: 0 0 6px rgb(0,0,0,.5);
}


@media screen and (max-width: 970px) {
  .logo_bar {left: 0; top: 0; width: 100vw; height: 60px;}
  .logo {left: 20px; top: 15px; font-size: 18px;}

  button.header_button {
    top: 14px;
    border: 1px solid white;
    background-color: black;
    color: white;
  }
  button.header_button:hover {box-shadow: rgb(255,255,255,.5);}
}
