<div class="bar_and_button_master">
  <div class="animated_number_going_up_parent">
    <div *ngIf="correctGuess!==-1" class="animated_number_going_up">
      {{getEarnedPointsText()}}
    </div>
  </div>
  <div class="guess_bar_parent">
    <div *ngFor="let x of guesses; let i = index" class="guess"
         [style.width.%]="getGuessWidth(i)"
         [style.margin-left.%]="guessMargin"
         [style.background-color]="getGuessBackgroundColor(i)">
      <div class="guess_letter">
        <b>
        <span *ngIf="isCorrectGuess(i)">&#10003;</span>
        <span *ngIf="!isCorrectGuess(i)">{{guessNames[i]}}</span>
        </b>&nbsp;
        <span *ngIf="correctGuess===-1">{{getGuessPoints(i)}}</span>
      </div>
    </div>
  </div>
  <div class="guess_button_parent">
    <button [ngClass]="getGuessButtonClass()" (click)="this.resolveMove.emit();">
      {{getGuessButtonText()}}
    </button>
  </div>
</div>
