<div class="bar_and_button_master">
  <div class="animated_number_going_up_parent">
    <div *ngIf="correctGuess!==-1" class="animated_number_going_up">
      {{getEarnedPointsText()}}
    </div>
  </div>
  <div class="guess_bar_parent">
    <div *ngFor="let points of getGuessPoints(); let i = index" class="guess"
         [style.width.%]="getGuessWidth(i)"
         [style.margin-left.%]="guessMargin"
         [style.background-color]="getGuessBackgroundColor(i)">
      <div class="guess_letter">
        <b>
          &nbsp;
          <span *ngIf="isCorrectGuess(i)" class="centered_container">
            <fa-icon [icon]="faCheck" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
          </span>
          <span *ngIf="isGuessUnresolved()" class="centered_container">{{guessNames[i]}}</span>
          <span *ngIf="!isGuessUnresolved() && !isCorrectGuess(i)" class="centered_container">
            <fa-icon [icon]="faX" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
          </span>
          &nbsp;
        </b>
        <span *ngIf="correctGuess===-1">{{points}}</span>
      </div>
    </div>
  </div>
  <div style="height: 20px;"></div>
  <div class="buttons_container">
    <button class="control_button move_button" (click)="navigateGame.emit(-10);">
      <fa-icon [icon]="faCaretLeft"></fa-icon><fa-icon [icon]="faCaretLeft"></fa-icon>
    </button>
    <button class="control_button move_button"
            (click)="navigateGame.emit(-1);">
      <fa-icon [icon]="faCaretLeft"></fa-icon>
    </button>
    <button *ngIf="!isReviewing"
            [ngClass]="{control_button: true, guess_button: true, inactive: guesses.length == 0}"
            (click)="resolveGuess.emit();">
      GUESS
    </button>
    <button class="control_button move_button"
            (click)="navigateGame.emit(1);">
      <fa-icon [icon]="faCaretRight"></fa-icon>
    </button>
    <button class="control_button move_button"
            (click)="navigateGame.emit(10);">
      <fa-icon [icon]="faCaretRight"></fa-icon><fa-icon [icon]="faCaretRight"></fa-icon>
    </button>
  </div>
</div>
