/* You can add global styles to this file, and also import other style files */
.score_summary_total_score {
  display: block;
  position: relative;
  margin: auto;
  font-family: 'Catamaran', sans-serif;
  font-size: 90px;
  text-align: center;
  color: #2EAEF2;
  font-weight: 900;
  line-height: .7em;
}

.popup {
  display: block;
  position: absolute;
  left: 50%;
  top: 43%;
  width: 310px;
  max-height: 480px;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(0,0,0,.8);
  animation-duration: .3s;
  padding: 40px 30px 40px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  animation-name: animation_popup_appears;
}

.popup::-webkit-scrollbar { /*Chrome*/
  display: none;
}


h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  line-height: 1.1em;
  color: black;
}
h2 {
  font-family: 'Secular One', sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.3em;
  color: black;
}
p {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3em;
  color: black;
}
a {
  position: relative;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #2E93F2;
  font-weight: 700;
}
a:hover {list-style: none;}
a:focus {list-style: none;}
a:active {list-style: none;}
span.barlow {font-family: 'Barlow Condensed', sans-serif;}

button.nice_button {
  display: block;
  position: relative;
  height: 36px;
  padding: 0 16px 0 16px;
  border-radius: 18px;
  margin: auto;
  /*border: none;*/
  outline: none;
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid #2EAEF2;

  font-family: 'Secular One', sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 35px;
}
button.nice_button:hover {
  box-shadow: 0 0 6px rgb(0,0,0,.5);
}

button.blue_button {
  background-color: #2EAEF2;
  color: white;
}

button.white_button {
  background-color: white;
}

#players_name_parent {
  display: block;
  position: relative;
  margin: auto;
}
.player_name {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
  font-family: 'catamaran', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  line-height: 1.6em;
  color: black;
}
.stone_black_player {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin-left: -.8%;
  margin-right: 1.6%;
  margin-top: -.5%;
  background-image: radial-gradient(#cccccc, #4d4d4d, #000000, #000000);
  box-shadow: 0 0 1px black;
  transform: rotate(225deg);
  background-position: 7px 50%;
}
.stone_white_player {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 1.6%;
  margin-top: -.5%;
  background-image: radial-gradient(white, #e6e6e6, #cecece, #d2d2d2);
  box-shadow: 0 0 3px .5px black;
  transform: rotate(225deg);
  background-position: 7px 50%;
}

@keyframes animation_popup_appears {
  0% {opacity: 0; width: 0; max-height: 0;}
  100% {opacity: 1; width: 310px; max-height: 480px;}
}

::selection {
  color: unset;
  background: none;
}
::-moz-selection {
  color: unset;
  background: none;
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.player_turn {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%,-35%);
  width: 100%;
  height: 50%;
  animation-name: animation_player_turn_appears;
  transition: .25s;
  opacity: 0;

  font-family: 'Secular One', sans-serif;
  font-size: 2.5vh;
  text-align: left;
  line-height: 1.5em;
  color: black;
}


.score_parent {
  right: 2.5%;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.1vh;
  line-height: 1.5em;
}

@keyframes animation_total_score_parent_appears {
  0% {opacity: 0; top: 150%;}
  100% {opacity: 1; top: 50%;}
}

.stone {
  display: block;
  position: absolute;
  transform: rotate(225deg) scaleX(1) translate(70%, 0%);
  border-radius: 50%;
  background-position: 7px 50%;
  animation-name: animation_stone_appears;
  animation-duration: .3s;
}
@keyframes animation_stone_appears {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.black_stone {
  width: 4.4%;
  height: 4.4%;
  background-image: radial-gradient(#cccccc, #4d4d4d, #000000, #000000);
  box-shadow: 0 0 3px .5px black;
}

.white_stone {
  width: 4.6%;
  height: 4.6%;
  background-image: radial-gradient(white, #e6e6e6, #cecece, #d2d2d2);
  box-shadow: 0 0 3px .5px black;
}

.hover_stone {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(225deg) scaleX(1) translate(70%, 0%);
  border-radius: 50%;
  background-position: 7px 50%;
  pointer-events: none;
  opacity: .5;
}

#lock_board_layer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.x_delete {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  fill: none;
  stroke: black;
  stroke-width: 3;
  pointer-events: none;
  background-color: #FFE3C3;
}
