/* You can add global styles to this file, and also import other style files */
#welcome {
  display: block;
  animation-name: animation_popup_appears;
}
#introduction {
  display: block;
  animation-name: animation_popup_appears;
  padding-top: 28px;
}

#info {
  display: block;
  animation-name: animation_popup_appears;
}
#info_photo {
  display: block;
  position: relative;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  /*background: url('./photo_javi.jpg') no-repeat center center; todo get link to Javi image.*/
  background: url('https://i.pinimg.com/originals/75/04/f1/7504f1f08a43b933c59e38a3a2834d17.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#info_background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#score_summary {
  display: block;
  animation-name: animation_popup_appears;
}
#score_summary_background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#score_summary_total_score {
  display: block;
  position: relative;
  margin: auto;
  font-family: 'Catamaran', sans-serif;
  font-size: 90px;
  text-align: center;
  color: #2EAEF2;
  font-weight: 900;
  line-height: .7em;
}

.popup {
  position: absolute;
  left: 50%;
  top: 43%;
  width: 250px;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgb(0,0,0,.8);
  animation-duration: .3s;
  padding: 40px 30px 40px 30px;
  max-height: 400px;
  overflow: scroll;
}
h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  line-height: 1.1em;
  color: black;
}
h2 {
  font-family: 'Secular One', sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.3em;
  color: black;
}
p {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3em;
  color: black;
}
a {
  position: relative;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #2E93F2;
  font-weight: 700;
}
a:hover {list-style: none;}
a:focus {list-style: none;}
a:active {list-style: none;}
span.barlow {font-family: 'Barlow Condensed', sans-serif;}
button.button_blue {
  display: block;
  position: relative;
  height: 36px;
  padding: 0px 16px 0px 16px;
  border-radius: 18px;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid #2EAEF2;
  background-color: #2EAEF2;

  font-family: 'Secular One', sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 35px;
  color: white;
}
button.button_blue:hover {
  box-shadow: 0px 0px 6px rgb(0,0,0,.5);
}
button.button_white {
  display: block;
  position: relative;
  height: 36px;
  padding: 0px 16px 0px 16px;
  border-radius: 18px;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
  border: 1px solid #2EAEF2;
  background-color: white;

  font-family: 'Secular One', sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 35px;
  color: #2EAEF2;
}
button.button_white:hover {
  box-shadow: 0px 0px 6px rgb(0,0,0,.5);
}
#players_name_parent {
  display: block;
  position: relative;
  margin: auto;
}
.player_name {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
  font-family: 'catamaran', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  line-height: 1.6em;
  color: black;
}
.stone_black_player {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin-left: -.8%;
  margin-right: 1.6%;
  margin-top: -.5%;
  background-image: radial-gradient(#cccccc, #4d4d4d, #000000, #000000);
  box-shadow: 0px 0px 1px black;
  transform: rotate(225deg);
  background-position: 7px 50%;
}
.stone_white_player {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 1.6%;
  margin-top: -.5%;
  background-image: radial-gradient(white, #e6e6e6, #cecece, #d2d2d2);
  box-shadow: 0px 0px 3px .5px black;
  transform: rotate(225deg);
  background-position: 7px 50%;
}

@keyframes animation_popup_appears {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes animation_popup_disappears {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

::selection {
  color: none;
  background: none;
}
::-moz-selection {
  color: none;
  background: none;
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
#screen_master {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 70vh;
  height: 100vh;
  transform: translate(-50%,0%);
}

.player_turn {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%,-35%);
  width: 100%;
  height: 50%;
  animation-name: animation_player_turn_appears;
  transition: .25s;
  opacity: 0;

  font-family: 'Secular One', sans-serif;
  font-size: 2.5vh;
  text-align: left;
  line-height: 1.5em;
  color: black;
}

.vertical_bar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 1px;
  height: 80%;
  margin: 0px 10px 0px 10px;
  background-color: black;
}

.total_score_parent {
  display: block;
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translate(0%,-35%);
  height: 50%;
  animation-name: animation_total_score_parent_appears;
  animation-duration: .25s;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.1vh;
  line-height: 1.5em;
}

.score_parent {
  right: 2.5%;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.1vh;
  line-height: 1.5em;
}

@keyframes animation_total_score_parent_appears {
  0% {opacity: 0; top: 150%;}
  100% {opacity: 1; top: 50%;}
}

#board_shadow {
  display: block;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  background-color: grey;
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  z-index: -1;
}
#board_master {
  display: block;
  position: absolute;
  left: 0;
  top: 8%;
  width: 100%;
  height: 77%;
}
#stones_master {
  display: block;
  position: absolute;
  left: 0;
  top: 8%;
  width: 100%;
  height: 70%;
}
.stone {
  display: block;
  position: absolute;
  transform: rotate(225deg) scaleX(1) translate(70%, 0%);
  border-radius: 50%;
  background-position: 7px 50%;
  animation-name: animation_stone_appears;
  animation-duration: .3s;
}
@keyframes animation_stone_appears {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.black_stone {
  width: 4.4%;
  height: 4.4%;
  background-image: radial-gradient(#cccccc, #4d4d4d, #000000, #000000);
  box-shadow: 0px 0px 2px 2px black;
}

.white_stone {
  width: 4.6%;
  height: 4.6%;
  background-image: radial-gradient(white, #e6e6e6, #cecece, #d2d2d2);
  box-shadow: 0px 0px 3px .5px black;
}

.hover_stone {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(225deg) scaleX(1) translate(70%, 0%);
  border-radius: 50%;
  background-position: 7px 50%;
  pointer-events: none;
  opacity: .5;
}

.checkmark {
  display: block;
  position: absolute;
  width: 3vh;
  height: 3vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  fill: none;
  stroke: white;
  stroke-width: 2;
  animation-name: checkmark_animation;
  animation-duration: .25s;
}
#lock_board_layer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.x_delete {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  fill: none;
  stroke: black;
  stroke-width: 3;
  pointer-events: none;
  background-color: #FFE3C3;
}
@keyframes checkmark_animation {
  0% {opacity: 0; transform: translate(-50%,-50%) scale(0, 0);}
  20% {opacity: 0; transform: translate(-50%,-50%) scale(0, 0);}
  85% {opacity: 1; transform: translate(-50%,-50%) scale(1.2, 1.2);}
  100% {opacity: 1; transform: translate(-50%,-50%) scale(1, 1);}
}
#logo_bar {
  display: block;
  position: absolute;
  left: 37px;
  top: 35px;
  width: 112px;
  height: 82px;
  background-color: #1A1A1A;
  cursor: pointer;
}
#logo {
  display: block;
  position: absolute;
  left: 17px;
  top: 20px;
  pointer-events: none;

  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 26px;
  color: white;
  line-height:  0.8em;
}
button#info_button {
  display: block;
  position: absolute;
  right: 34px;
  top: 30px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: .3s ease;
  background-color: #F0F0F0;

  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 39px;
  color: black;
}
button#info_button:hover {
  box-shadow: 0px 0px 6px rgb(0,0,0,.5);
}

@media screen and (max-width: 800px) {
  #screen_master {position: relative; left: 0; top: 60px; width: 100vw; height: auto; transform: translate(0%,0%);}
  .total_score_parent {font-size: 15px;}
  .score_parent{font-size: 15px;}
  #board_master {top: 50px; width: 100vw; height: 110vw;}
  #stones_master {position: relative; width: 100vw; height: 100vw;}
  #bar_and_button_master {position: relative; height: 150px;}
  .checkmark {width: 22px; height: 22px; top: 46%;}
  #logo_bar {left: 0px; top: 0px; width: 100vw; height: 60px;}
  #logo {left: 20px; top: 15px; font-size: 18px;}
  button#info_button {
    right: 18px;
    top: 14px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: black;
    font-size: 14px;
    line-height: 29px;
    color: white;
  }
  button#info_button:hover {box-shadow: none;}
  button.button_blue:hover {box-shadow: none;}
  button.button_white:hover {box-shadow: none;}
}
